#textReg{

   margin: auto;
}

input{
	margin: 3px;
}
select{
	margin: 3px;
}

/*уменьшение длины */
#semester{
	width: 64px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
textarea{
	resize: none;
}

.tabBelow{
	margin: 5px;
}

.tab-box:after{
	clear:both;
	content:"";
	display:block;
}
.tab-nav{
	margin:0;
	padding:0;
	list-style:none;
	width:100px;
	float:left;
}
.tab-nav li{
	float:left;
	margin-bottom:5px;
}
.tab-nav .active{
	display:inline-block;
	padding:5px;
}
.tab-box>div{
	margin:0 0 0 100px;
	padding:10px;
	border:solid 1px #cccccc;
	background:#fcfcfc;
}