#textReg{

   margin: auto;
}

input{
	margin: 3px;
}
select{
	margin: 3px;
}

/*уменьшение длины */
#semester{
	width: 64px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
textarea{
	resize: none;
}

.tabBelow{
	margin: 5px;
}